:root{
    font-size: 10px;
}

main{
    font-family: sans-serif;
    font-size: 1.6rem;
}

.navbar{
    list-style-type: none;
    margin-top: 1rem;
    padding: 0;
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

li{
    padding: 0.5rem 0.8rem;
}

.link{
    text-decoration: none;
    color: black;
}

.link:hover{
    text-decoration: underline;
}

.sign-in{
    background-color: rgb(15, 148, 236);
    color: white;
    border: transparent;
    height: 3rem;
    width: 7.5rem;
}

.sign-in:hover{
    background-color: rgb(15, 75, 255);
    cursor: pointer;
}

.main-img{
    margin-top: 15rem;
    display: flex;
    justify-content: center;
}

img{
    max-width: 100%;
    height: auto;
}

#searchbar{
    width: 40rem;
    height: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 1rem 1rem 1rem 1rem;
    border-style:solid;
    border-width: thin;
    border-color: rgba(34, 34, 34, 0.2);
}

#searchbar:focus{
    outline-width: 0;
    box-shadow: 0px 0px 10px 10px rgba(128, 128, 128, 0.2);
}

.search-bar{
    max-width: 40rem;
    margin: 1rem auto;
}

.search-button{
    margin: 0 1rem;
    padding: 0.7rem 1.5rem;
    border-width: 1px;
    border-color: transparent;
    cursor: pointer;
}

.search-button:hover{
    border-width:1px;
    border-color: rgba(34, 34, 34, 0.2);
}


.search-buttons{
    display: flex;
    justify-content: center;
}